*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ec-soft-red: hsl(10, 79%, 65%);
	--ec-soft-red-hover: hsl(10, 70%, 70%);
	--ec-cyan: hsl(186, 34%, 60%);
	--ec-cyan-hover: hsl(187, 35%, 70%);
	--ec-dark-brown: hsl(25, 47%, 15%);
	--ec-medium-brown: hsl(25, 47%, 15%);
	--ec-cream: hsl(27, 66%, 92%);
	--ec-card-white: hsl(27, 47%, 96%);

	--ec-border-radius: 10px;
	--ec-bar-chart-border-radius: 5px;

	--ec-small-font-size: 0.9rem;
	--ec-large-font-size: 1.5rem;

	--ec-font-bold: 700;
}

body {
	margin: 0;
	font-family: "DM Sans", sans-serif;
	height: 100vh;
	background-color: var(--ec-cream);
}

p {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.container {
	width: 90%;
	max-width: 540px;
	margin: 0 auto;
}

.balance-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--ec-border-radius);
	padding: 0.5rem 1.25rem;
	background-color: var(--ec-soft-red);
}

.balance-container p {
	color: var(--ec-cream);
}

.balance-text {
	font-size: var(--ec-small-font-size);
	padding-bottom: 0.25rem;
}

.balance {
	font-size: var(--ec-large-font-size);
	font-weight: 700;
}

.logo {
	width: 5rem;
	aspect-ratio: 1;
	background-image: url(./images/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.spending-container {
	border-radius: var(--ec-border-radius);
	background-color: var(--ec-card-white);
}

.spending-container h2 {
	font-size: var(--ec-large-font-size);
	font-weight: var(--ec-font-bold);
	width: 90%;
	margin: 0 auto;
	padding: 1.5rem 0;
}

.chart-container {
	display: flex;
	justify-content: space-between;
	height: 11.25rem;
	width: 90%;
	padding: 1rem;
	margin: 0 auto;
	border-bottom: 2px solid var(--ec-cream);
}

.bar-chart {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}

.bar {
	width: 70%;
	border-radius: var(--ec-bar-chart-border-radius);
	background-color: var(--ec-soft-red);
}

.bar:hover,
.bar:focus {
	background-color: var(--ec-soft-red-hover);
}

.current-day {
	background-color: var(--ec-cyan);
}

.current-day:hover,
.current-day:focus {
	background-color: var(--ec-cyan-hover);
}

#mon {
	height: 20%;
}

#tues {
	height: 35%;
}

#wed {
	height: 100%;
}

#thu {
	height: 30%;
}

#fri {
	height: 25%;
}

#sat {
	height: 70%;
}

#sun {
	height: 28%;
}

.monthly-total-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 1.5rem 0;
}

.total-month-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.total-month-text {
	font-size: var(--ec-small-font-size);
	color: var(--ec-medium-brown);
}

.total {
	font-size: 1.875rem;
	font-weight: var(--ec-font-bold);
	margin-top: 0.25rem;
}

.previous-month-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 1rem;
}

.percent-change {
	font-size: var(--ec-small-font-size);
	font-weight: var(--ec-font-bold);
}

.last-month-text {
	font-size: var(--ec-small-font-size);
	color: var(--ec-medium-brown);
}
